<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Opinion Mining</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://opinionmining.us/">Opinion Mining</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#dataset-stats">Dataset Statistics</a>
                    </li>
                    <li>
                        <a href="#observations">Observations</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{chart_title}}
                    <small>{{chart_subtitle}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="container"></div>
            </div>

            <div class="col-md-4">
                <h3>Visualization Description</h3>
                <p>Average review sentiment of top-two products in each category divided based on reviewer's gender. This graph shows the average likeability of top products in a category compared to other categories. It also illustrates the average attitude toward the product in male versus female reviewers.</p>
               <!-- <h3>Visualization Facts</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul> -->
            </div>

        </div>
        <!-- /.row -->
		<section id="dataset-stats">
			<div class="row">
	            <div class="col-lg-12">
	                <h3 class="page-header">Dataset Statistics</h3>
					<p>This dataset consists of reviews from amazon. Reviews include product and user information, ratings, and a plaintext review. Data source: <a href="https://snap.stanford.edu/data/web-Amazon.html">SNAP</a></p>
					<table class="table-condensed">
					    <tbody>
					      <tr>
					        <td>Number of reviews</td>
					        <td>4,795,005</td>
					      </tr>
					      <tr>
					        <td>Number of users</td>
					        <td>2,129,197</td>
					      </tr>
					      <tr>
					        <td>Number of products</td>
					        <td>460,981</td>
					      </tr>
					      <tr>
					        <td>Number of brands</td>
					        <td>68,415</td>
					      </tr>
					      <tr>
					        <td>Number of categories</td>
					        <td>14</td>
					      </tr>
					      <tr>
					        <td>Median no. of words per review</td>
					        <td>82</td>
					      </tr>
					      <tr>
					        <td>Timespan</td>
					        <td>Jun 1995 - Mar 2013</td>
					      </tr>
					    </tbody>
					  </table>
	            </div>
			</div>
		</section>
		
        <!-- Related Projects Row -->
		<section id="observations">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Observations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
				<p>Popular Brands</p>
                <a href="/">
                    <img class="img-responsive portfolio-item" src="images/word_cloud.png" alt="Popular Brands">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
				<p>Gender Comparison</p>
                <a href="/review_trend_gender">
                    <img class="img-responsive portfolio-item" src="images/review_trend_gender.png" alt="Gender Comparison">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
				<p>Categories Reviews Trend</p>
                <a href="/review_trend_category">
                    <img class="img-responsive portfolio-item" src="images/review_trend_category.png" alt="Categories Reviews Trend">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
				<p>Ratings Vs Sentiments</p>
                <a href="/score_vs_sentiment">
                    <img class="img-responsive portfolio-item" src="images/score_vs_sentiment.png" alt="Ratings Vs Sentiments">
                </a>
            </div>

        </div>
        <!-- /.row -->
	</section>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; opinionmining.us 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script <script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script>
	$(function () {
	    $('#container').highcharts({

	        chart: {
	            type: 'column',
	            backgroundColor: "#222"
	        },

	        title: {
	            text: ''
	        },

	        xAxis: {
	            categories: ['Brother 1034D 3 or 4 Thread Serger',
'Brother CS6000i Feature-Rich Sewing Machine',
'Battery Tender Junior 12V',
'Battery Tender Plus 12V',
'Pampers Baby Dry Diapers', 
'Farouk CHI 1 Inch Ceramic Flat Hairstyling Iron',
'Mavala Stop',
'Amazon.com::Clothing',
'The Mountain Three Wolf Moon Short Sleeve Tee',
'DVI Gear HDMI Cable 2M 6 feet',
'Garmin Portable Friction Mount',
'Pure Organic Raw Fruit & Nut Bars',
'Tuscan Whole Milk 1 Gallon 128 fl oz',
'Marpac Dohm-DS Dual Speed Sound Conditioner',
'Waterpik Ultra Water Flosser',
'Classic Accessories Veranda Cart-Style Barbecue Cover',
'Contech CRO101 Scarecrow Motion Activated Sprinkler',
'Sperry Top-Sider Mens Canoe Moc Boat Shoes',
'Microsoft Office Home and Student 2007',
'TurboTax Deluxe 2002',
'Klean Kanteen Stainless Steel Water Bottle',
'Omron HJ-112 Pocket Pedometer',
'EA-Spore',
'Xbox 360 LIVE 4000 Points',
'Casio Mens DW5600E-1V G-Shock Classic Digital Watch',
'Citizen Mens BM8180-03E Eco-Drive Canvas Strap Watch']
	        },

	        yAxis: {
	            allowDecimals: true,
				max: 0.4,
	            type: "linear",
	            title: {
	                text: 'Avg sentiments score'
	            }
	        },
	        tooltip: {
	            formatter: function () {
	                return '<b>' + this.x + '</b><br/>' +
	                    this.series.name + ': ' + this.y
	            }
	        },
			legend: {
		              itemStyle: {
		                 font: '10pt Trebuchet MS, Verdana, sans-serif',
		                 color: '#C0BEC2'
		              },
		              itemHoverStyle: {
		                 color: '#C0BEC2'
		              },
		              itemHiddenStyle: {
		                 color: '#444'
		              }

			},
	        series: [{
	            name: 'Male',
	            data: [0.265,
0.280,
0.247,
0.221,
0.204,
0.204,
0.055,
0.248,
0.154,
0.279,
0.278,
0.226,
0.136,
0.198,
0.229,
0.286,
0.172,
0.248,
0.228,
0.070,
0.214,
0.264,
-0.032,
0.227,
0.198,
0.2201],
	            stack: 'male',
	            color: "#4791FF"
	        }, {
	            name: 'Female',
	            data: [0.261,
0.269,
0.254,
0.233,
0.233,
0.216,
0.067,
0.272,
0.155,
0.277,
0.287,
0.217,
0.139,
0.2,
0.246,
0.296,
0.185,
0.272,
0.255,
0.071,
0.224,
0.271,
-0.0341,
0.218,
0.207,
0.231],
	            stack: 'female',
	            color: "#FFC1FF"
	        }]
	    });
	});
	</script>

</body>

</html>
