<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Opinion Mining</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://opinionmining.us/">Opinion Mining</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#dataset-stats">Dataset Statistics</a>
                    </li>
                    <li>
                        <a href="#observations">Observations</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{chart_title}}
                    <small>{{chart_subtitle}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="container"></div>
            </div>

            <div class="col-md-4">
                <h3>Visualization Description</h3>
                <p>Category-based total reviews plotted based on review year. This graph shows the category review trend with comparison against other categories. The overall ascending behavior of the graph can be attributed to E-commerce gaining traction as well as an increase in public's willingness to share opinions online.</p>
                <h3>Visualization Facts</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->
		<section id="dataset-stats">
			<div class="row">
	            <div class="col-lg-12">
	                <h3 class="page-header">Dataset Statistics</h3>
					<p>This dataset consists of reviews from amazon. Reviews include product and user information, ratings, and a plaintext review. Data source: <a href="https://snap.stanford.edu/data/web-Amazon-links.html">SNAP</a></p>
					<table class="table-condensed">
					    <tbody>
					      <tr>
					        <td>Number of reviews</td>
					        <td>4,795,005</td>
					      </tr>
					      <tr>
					        <td>Number of users</td>
					        <td>2,129,197</td>
					      </tr>
					      <tr>
					        <td>Number of products</td>
					        <td>460,981</td>
					      </tr>
					      <tr>
					        <td>Number of brands</td>
					        <td>68,415</td>
					      </tr>
					      <tr>
					        <td>Number of categories</td>
					        <td>14</td>
					      </tr>
					      <tr>
					        <td>Median no. of words per review</td>
					        <td>82</td>
					      </tr>
					      <tr>
					        <td>Timespan</td>
					        <td>Jun 1995 - Mar 2013</td>
					      </tr>
					    </tbody>
					  </table>
	            </div>
			</div>
		</section>
		
        <!-- Related Projects Row -->
		<section id="observations">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Observations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/">
                    <img class="img-responsive portfolio-item" src="images/word_cloud.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/review_trend_gender">
                    <img class="img-responsive portfolio-item" src="images/review_trend_gender.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/score_vs_sentiment">
                    <img class="img-responsive portfolio-item" src="images/score_vs_sentiment.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/avg_sentiments_gender">
                    <img class="img-responsive portfolio-item" src="images/avg_sentiments_gender.png" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->
	</section>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; opinionmining.us 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script <script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script>
	$(function () {
	    $('#container').highcharts({
	        chart: {
	            type: 'spline',
				zoomType: 'xy',
				backgroundColor: "#222"
	        },
	        title: {
	            text: ''
	        },
	        xAxis: {
	            categories: ['1999', '2000', '2001', '2002', '2003', '2004',
	                '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012']
	        },
	        yAxis: {
	            title: {
	                text: 'Number of Reviews'
	            },
				min : 0
	        },
	        tooltip: {
	            crosshairs: true,
	            shared: false
	        },
	        plotOptions: {
	            spline: {
	                marker: {
	                    radius: 4,
	                    lineColor: '#666666',
	                    lineWidth: 1
	                }
	            }
	        },
			legend: {
		              itemStyle: {
		                 font: '10pt Trebuchet MS, Verdana, sans-serif',
		                 color: '#C0BEC2'
		              },
		              itemHoverStyle: {
		                 color: '#C0BEC2'
		              },
		              itemHiddenStyle: {
		                 color: '#444'
		              }

			},
	        series: [
				{
				    name: 'Arts',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [13,
				42,
				77,
				81,
				197,
				274,
				365,
				539,
				1330,
				1591,
				2100,
				2888,
				4664,
				8036]

				}, {
				    name: 'Automotive',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [30,
				88,
				115,
				97,
				143,
				303,
				710,
				2193,
				8837,
				11265,
				15305,
				23820,
				39278,
				63146]
				}, {
				    name: 'Baby',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [29,
				94,
				1394,
				4918,
				7915,
				12601,
				16920,
				13921,
				19934,
				19270,
				16766,
				19800,
				29194,
				29065]
				}, {
				    name: 'Beauty',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [334,
				1610,
				131,
				274,
				484,
				2170,
				4630,
				6779,
				18082,
				21192,
				21735,
				26717,
				42297,
				68034]
				}, {
				    name: 'Clothing_&_Accessories',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [11,
				57,
				57,
				1402,
				1515,
				3355,
				10764,
				19232,
				43839,
				39688,
				37582,
				44968,
				78533,
				161379]
				}, {
				    name: 'Electronics',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [3936,
				15657,
				25387,
				32945,
				41957,
				47938,
				67828,
				101874,
				207972,
				159590,
				120801,
				104344,
				114540,
				126294]
				}, {
				    name: 'Gourmet_Foods',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [78,
				181,
				54,
				119,
				445,
				984,
				1843,
				7747,
				18515,
				16929,
				18161,
				20235,
				24458,
				32722]
				}, {
				    name: 'Health',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [256,
				3002,
				599,
				1122,
				3053,
				4605,
				8891,
				13962,
				34848,
				37689,
				39289,
				50940,
				73036,
				110861]
				}, {
				    name: 'Patio',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [19,
				983,
				1248,
				1665,
				2434,
				2515,
				4165,
				7505,
				18558,
				20164,
				20888,
				25820,
				34723,
				48044]
				}, {
				    name: 'Shoes',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [2,
				19,
				1,
				1561,
				5019,
				6242,
				8796,
				12833,
				42444,
				34132,
				30382,
				39998,
				57622,
				102428]
				}, {
				    name: 'Software',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [531,
				3497,
				6439,
				9053,
				10668,
				8922,
				10712,
				12362,
				17350,
				9229,
				6693,
				4460,
				3528,
				3339]
				}, {
				    name: 'Sports_&_Outdoors',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [121,
				353,
				703,
				1151,
				2394,
				4072,
				11957,
				22733,
				63371,
				60983,
				63994,
				71981,
				102842,
				155049]
				}, {
				    name: 'Video_Games',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [7082,
				24426,
				37575,
				48139,
				44120,
				40595,
				36798,
				32903,
				45154,
				35264,
				25684,
				19880,
				20833,
				28225]
				}, {
				    name: 'Watches',
				    marker: {
				        symbol: 'diamond'
				    },
				    data: [1,
				43,
				47,
				24,
				95,
				359,
				835,
				2625,
				8492,
				7363,
				5987,
				5388,
				6341,
				9805]
				}

	        ]
	    });
	});
	</script>

</body>

</html>
