<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Opinion Mining</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://opinionmining.us/">Opinion Mining</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#dataset-stats">Dataset Statistics</a>
                    </li>
                    <li>
                        <a href="#observations">Observations</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{chart_title}}
                    <small>{{chart_subtitle}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="container"></div>
            </div>

            <div class="col-md-4">
                <h3>Visualization Description</h3>
                <p>Total count of reviews per category separated based on reviewer's gender. This graph demonstrates the disparity in overall product reviews between different categories of products. It also shows the breakdown of male vs female interest in those categories.</p>
                <h3>Visualization Facts</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->
		<section id="dataset-stats">
			<div class="row">
	            <div class="col-lg-12">
	                <h3 class="page-header">Dataset Statistics</h3>
					<p>This dataset consists of reviews from amazon. Reviews include product and user information, ratings, and a plaintext review. Data source: <a href="https://snap.stanford.edu/data/web-Amazon-links.html">SNAP</a></p>
					<table class="table-condensed">
					    <tbody>
					      <tr>
					        <td>Number of reviews</td>
					        <td>4,795,005</td>
					      </tr>
					      <tr>
					        <td>Number of users</td>
					        <td>2,129,197</td>
					      </tr>
					      <tr>
					        <td>Number of products</td>
					        <td>460,981</td>
					      </tr>
					      <tr>
					        <td>Number of brands</td>
					        <td>68,415</td>
					      </tr>
					      <tr>
					        <td>Number of categories</td>
					        <td>14</td>
					      </tr>
					      <tr>
					        <td>Median no. of words per review</td>
					        <td>82</td>
					      </tr>
					      <tr>
					        <td>Timespan</td>
					        <td>Jun 1995 - Mar 2013</td>
					      </tr>
					    </tbody>
					  </table>
	            </div>
			</div>
		</section>
		
        <!-- Related Projects Row -->
		<section id="observations">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Observations</h3>
            </div>
			
            <div class="col-sm-3 col-xs-6">
                <a href="/">
                    <img class="img-responsive portfolio-item" src="images/word_cloud.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/review_trend_category">
                    <img class="img-responsive portfolio-item" src="images/review_trend_category.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/score_vs_sentiment">
                    <img class="img-responsive portfolio-item" src="images/score_vs_sentiment.png" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="/avg_sentiments_gender">
                    <img class="img-responsive portfolio-item" src="images/avg_sentiments_gender.png" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->
	</section>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; opinionmining.us 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script <script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script>
	$(function () {
	    $('#container').highcharts({

	        chart: {
	            type: 'column',
	            backgroundColor: "#222"
	        },

	        title: {
	            text: ''
	        },

	        xAxis: {
	            categories: ['Arts', 'Automotive', 'Baby', 'Beauty', 'Clothing & Accessories', 'Electronics', 'Gourmet Foods', 'Health', 'Patio', 'Shoes', 'Software', 'Sports & Outdoors', 'Video Games', 'Watches']
	        },

	        yAxis: {
	            allowDecimals: false,
	            min: 0,
	            type: "linear",
	            title: {
	                text: 'Number of reviews'
	            },
	        },

	        tooltip: {
	            formatter: function () {
	                return '<b>' + this.x + '</b><br/>' +
	                    this.series.name + ': ' + this.y
	            }
	        },
			legend: {
		              itemStyle: {
		                 font: '10pt Trebuchet MS, Verdana, sans-serif',
		                 color: '#C0BEC2'
		              },
		              itemHoverStyle: {
		                 color: '#C0BEC2'
		              },
		              itemHiddenStyle: {
		                 color: '#444'
		              }

			},
	        series: [{
	            name: 'Male',
	            data: [9480, 91649, 71509, 81757, 236918, 562403, 56718, 170144, 94424, 149097, 54635, 272524, 255595, 29725],
	            stack: 'male',
	            color: "#4791FF"
	        }, {
	            name: 'Female',
	            data: [16618, 96647, 129427, 158838, 346265, 658383, 98147, 255840, 122441, 240330, 53481, 352450, 204748, 38672],
	            stack: 'female',
	            color: "#FFC1FF"
	        }]
	    });
	});
	</script>

</body>

</html>
