<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Opinion Mining</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://opinionmining.us/">Opinion Mining</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Dataset Statistics</a>
                    </li>
                    <li>
                        <a href="#observations">Observations</a>
                    </li>
                    <li>
                        <a href="#">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{chart_title}}
                    <small>{{chart_subtitle}}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <div id="container"></div>
            </div>

            <div class="col-md-4">
                <h3>Visualization Description</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
                <h3>Visualization Facts</h3>
                <ul>
                    <li>Lorem Ipsum</li>
                    <li>Dolor Sit Amet</li>
                    <li>Consectetur</li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
		<section id="observations">
        <div class="row">

            <div class="col-lg-12">
                <h3 class="page-header">Observations</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->
	</section>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; opinionmining.us 2015</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/highcharts-more.js"></script>
	<script <script src="http://code.highcharts.com/modules/exporting.js"></script>
	<script>
	var chart;
	$(function () {
	    $('#container').highcharts({
	        chart: {
	            zoomType: 'xy',
				backgroundColor: "#222"
	        },
	        title: {
	            text: ''
	        },
	        xAxis: [{
	            categories: ['Arts', 'Automotive', 'Baby', 'Beauty', 'Clothing & Accessories', 'Electronics', 'Gourmet Foods', 'Health', 'Patio', 'Shoes', 'Software', 'Sports & Outdoors', 'Video Games', 'Watches']
	        }],
			legend: {
		              itemStyle: {
		                 font: '10pt Trebuchet MS, Verdana, sans-serif',
		                 color: '#C0BEC2'
		              },
		              itemHoverStyle: {
		                 color: '#C0BEC2'
		              },
		              itemHiddenStyle: {
		                 color: '#444'
		              }

			},
	        yAxis: [{ // Primary yAxis
	            labels: {
	                format: '{value}',
	                style: {
	                    color: '#C0BEC2'
	                }
	            },
	            title: {
	                text: 'Sentiment score %',
	                style: {
	                    color: '#C0BEC2'
	                }
	            }
	        }, { // Secondary yAxis
	            title: {
	                text: 'Rating score %',
	                style: {
	                    color: Highcharts.getOptions().colors[0]
	                }
	            },
	            labels: {
	                format: '{value}',
	                style: {
	                    color: Highcharts.getOptions().colors[0]
	                }
	            },
	            opposite: true
	        }],

	        tooltip: {
	            shared: true
	        },

	        series: [{
	            name: 'Rating score',
	            type: 'column',
	            yAxis: 1,
	            data: [82.2,
82.6,
79.8,
83.2,
83.0,
78.0,
85.0,
81.6,
78.6,
86.2,
66.8,
82.8,
79.8,
83.4],
	            tooltip: {
	                pointFormat: '<span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}%</b> '
	            }
	        }, {
	            name: 'Sentiment score',
	            type: 'spline',
	            data: [23.85,
22.98,
21.13,
23.52,
25.51,
21.70,
25.84,
20.36,
20.16,
25.29,
14.92,
23.23,
10.69,
25.07],
	            tooltip: {
	                pointFormat: '<br><span style="font-weight: bold; color: {series.color}">{series.name}</span>: <b>{point.y:.1f}%</b> '
	            }
	        }]
	    });
	});
	</script>

</body>

</html>
